<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.3.0/rickshaw.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<style>
  .rickshaw-chart {
      font: 10px sans-serif;
      float: left;
      margin-top: 70px;
            }
  .rickshaw-y-axis {
      font: 10px sans-serif;
      float: left;
      margin-top: 70px;
  }
  .rickshaw-legend {
      float: left;
      margin-left: 15px;
      margin-top: 70px;
  }

  .rickshaw-slider {
      float:left;
      margin-top: : 100px;
  }
</style>
